<div class="grid grid-cols-3 gap-4">
  <img src="https://appsgeyser.com/blog/wp-content/uploads/2020/09/Artboard-12-2-1024x502.png" alt="" class="">
  <div class="col-span-2">
    <p class="text-xl">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero hic nesciunt dolore illum perferendis necessitatibus maxime reiciendis fugit cumque, consequuntur natus corporis. Nemo at consectetur aut sapiente in aspernatur officiis?
      <%= button_to "Explore", quizzes_path, method: :get, class: "bg-purple-light hover:bg-purple text-white font-bold py-2 px-3 rounded mt-3 border border-purple"%>
    </p>
  </div>
</div>