<div class="grid grid-cols-2 gap-4">
  <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero hic nesciunt dolore illum perferendis necessitatibus maxime reiciendis fugit cumque, consequuntur natus corporis. Nemo at consectetur aut sapiente in aspernatur officiis?</div>
  <img src="" alt="">
</div>